﻿@page
@model IndexModel
@{
    ViewData["Title"] = "Chat Room";
}
<script src="~/js/chatRoom.js"></script>
<script src="~/lib/signalr.js"></script>
<script type="text/javascript" src="~/lib/knockout/knockout-min.js"></script>
<script type="text/javascript" src="~/lib/jquery/dist/jquery.min.js"></script>

<div id="divMain">
    <div class="row justify-content-center" id="divGroup" data-bind="visible: !visibleChat()">       
        <div class="form-group text-center col-sm-12 justify-content-center row">
            <h2 class="text-center">Hi <span data-bind="text: userName"></span>!!! Welcome to your chat room!!!</h2>
        </div>
        <div class="form-group text-center col-sm-4 border border-primary justify-content-center table-responsive">            
            <h4 class="text-center">Other Groups</h4>
            <input id="btnLogin" type="button" value="Create New Group!!" class="btn btn-link form-control text-center" data-bind="click:setVisibility" />

            @*<div class="form-group text-center col-sm-4 border border-primary justify-content-center" data-bind="visible: visibleAddGroup">*@
            <table class="form-group col-sm-4 border border-primary" data-bind="visible: visibleAddGroup">
                <tr>
                    <td>
                        <label class="control-label">Group Name</label>
                    </td>
                </tr>
                <tr>
                    <td>
                        <input type="text" class="control-label" data-bind="value: newGroupName">
                    </td>
                </tr>
                <tr>
                    <td>
                    </td>
                </tr>
                <tr>
                    <td>
                        <input id="btnAddGroup" type="button" value="Add" class="btn btn-primary form-control text-center" />
                    </td>
                </tr>
            </table>
            @*</div>*@
            <table class="table table-striped table-condensed">
                <tbody data-bind="foreach: otherGroupList">
                    <tr>
                        <td class="text-center"><span data-bind="text: $data.name"></span></td>
                        <td class="text-left"><input id="btnJoinGroup" type="button" value="Join Group" class="btn btn-link form-control text-center" data-bind="click: $root.joinGroup" /></td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="col-sm-2">
        </div>
        <div class="form-group text-center col-sm-6 border border-primary justify-content-center table-responsive">
            <h4 class="text-center">Your Groups</h4>
            <table class="table table-striped table-condensed">
                <tbody data-bind="foreach: userGroupList">
                    <tr>
                        <td class="text-center"><span data-bind="text: $data.groupName"></span></td>
                        <td class="text-left"><input id="btnStartChat" type="button" value="Start Chat" class="btn btn-link form-control text-center" data-bind="click: $root.startChat"/></td>
                        <td class="text-left"><input id="btnLogin" type="button" value="Leave Group" class="btn btn-link form-control text-center" data-bind="click: $root.leaveGroup" /></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <div class="row justify-content-center" id="divChat" data-bind="visible: visibleChat()">
        <div class="form-group text-center col-sm-12 justify-content-center row">
            <h2 class="text-center">Hi <span data-bind="text: userName"></span>!!! Welcome to group <span data-bind="text: groupName"></span>!!!</h2>
        </div>
        @*<div class="form-group text-center col-sm-12 border border-primary justify-content-center row">
            <h2 class="text-center">Hi <span data-bind="text: userName"></span>!!! Welcome to your chat room!!!</h2>
        </div>*@
        <input type="button" id="btnBack" class="btn btn-link form-control text-left" value="Back to Groups" data-bind="click: $root.backToGroup" />
        <div class="form-group text-center col-sm-6 border border-primary justify-content-center row">
            <p style="margin-top:10px">
                <textarea name="message" id="message" class="justify-content-left align-bottom" data-bind="value: chatMessage"></textarea>
                <input type="button" id="btnSend" class=" col-md-5 btn btn-link form-control text-left" value="Send Message" />
            </p>
            <p>
                <table class="table table-striped table-condensed">
                    <tbody data-bind="foreach: messageHistory">
                        <tr>
                            <td class="text-center"><span data-bind="text: $data.sender"></span></td>
                            <td class="text-center"><span data-bind="text: $data.message"></span></td>
                        </tr>
                    </tbody>
                </table>
            </p>
            <p><div class="form-group text-center justify-content-center table-responsive" id="messages"></div></p>
        </div>
    </div>
</div>
