﻿@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
<script src="~/js/login.js"></script>
<script type="text/javascript" src="~/lib/knockout/knockout-min.js"></script>
<script type="text/javascript" src="~/lib/jquery/dist/jquery.min.js"></script>
<div class="row justify-content-center" id="testdiv">
    <div class="form-group text-center col-sm-6 border border-primary justify-content-center row">
        <table class="form-group col-sm-6">            
            <tr>
                <td>
                    <h4><label class="control-label">User name</label></h4>
                </td>
            </tr>
            <tr>
                <td>
                    <input type="text" class="control-label" data-bind="value: userName">
                </td>
            </tr>
            <tr>
                <td>
                </td>
            </tr>
            <tr>
                <td>
                    <input id="btnLogin" type="button" value="Continue" class="btn btn-primary form-control col-sm-4 text-center" data-bind="click: test" style="margin-top:20px" />
                </td>
            </tr>
        </table>
    </div>
</div>
