﻿@page
<textarea name="message" id="message"></textarea>
<input type="button" id="sendButton" value="Send Message" />
<input type="button" id="btnAdd" value="Add Group" />
<input type="button" id="removeGroup" value="Remove Group" />

<div id="messages"></div>

<script src="~/lib/signalr.js"></script>
<script src="~/js/chatRoom.js"></script>